body 
{
    font-size: 16px;
    color:#606060ff;
    background-color: #606060;
    font-family:'Oxygen', sans-serif;  
    background-image: url(../photos/800px_COLOURBOX9364505.jpg);
   
}
html
{
    overflow-y: scroll;
    overflow-x: none;
}

#header-nav 
{
    background-color: #d6ed17ff;
    border-radius: 0;
    border: 0; 
}

#logo-img
{
    background: url(../photos/photo.jpg) no-repeat;
    width: 176px;
    height: 176px;
    margin: 10px 15px 10px 0px;
    border-radius: 50%;
}

.navbar-brand 
{
    padding-top: 25px;
}

.navbar-brand h1
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#606060ff;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px 1px #000;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover , .navbar-brand a:focus
{
    text-decoration: none;
}

.navbar-brand p
{
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

.navbar-brand p span
{
    vertical-align: middle;
}

.icons
{
    box-sizing: border-box;
    position:inherit;
    display: inline-block;
    padding-inline: 20px;
    background: transparent;
    gap: 10px;
    align-content: center;
    justify-content: space-between;
    height: 12%;
}

.box
{
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding-left:10%;
    padding-right:10%;
    justify-content: space-evenly;
    padding-top: 7px;
}

.a-col
{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.b-col
{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap:18px
}
iframe
{
    box-shadow: 0 0 3px 3px solid #d6ed17ff;
    border-radius: 10px;
    width: 100%;
    height:15em;
}
@media (max-width:500px) 
{
    .box
    {
        flex-direction: column;
    }
    .a-col,.b-col
    {
        width: 100%;
    }
    
}


